.color-edit {
    background-color: transparent;
    left: 270px;
    top: 150px;
    position: absolute;
    z-index: 1000;

    .color-edit-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .color-edit-square {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 20px;
    }
}